<div class="dashboard-container">
    <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Welcome, SpareCare!</h1><button class="btn-logout" (click)="logout()">Logout</button>
        </div>
        <div class="content">
            <div class="card">
                <h3>Nissan</h3>
                <p>The power of movement.</p>
            </div>
            <div class="card">
                <h3>Hyundai</h3>
                <p>To create exceptional automotive value for our customers by harmoniously blending safety, quality and
                    efficiency.</p>
            </div>
            <div class="card">
                <h3>TVS</h3>
                <p>To transform the quality of life of people across the world by providing mobility solutions that are exciting, responsible, sustainable and safe.
                </p>
            </div>
        </div>
    </div>
</div>